.headerBlock {
    display: flex;
    flex-direction: column;
}

.Header {
    padding: 16px;
    background-color: rgb(209, 213, 224);
    display: flex;
    align-items: center;
    gap: 16px;
    box-sizing: border-box;
}

.burgerMenu {
    cursor: pointer;
    display: flex;
}

.webitelLogo {
    height: 16px;
    display: flex;
}

.nightLogo {
    height: 24px;
    display: flex;
}

.MenuActive {
    display: flex;
}

.menuHidden {
    display: none;
}

.MenuBlock {
    display: none;
    position: absolute;
    left: 0;
    top: 0; 
    height: 100vh;
    box-sizing: border-box;
    width: 340px;
    background-color: hsla( 225 , 20% , 94% , 1);
    padding: 16px;
    box-shadow: 0px 0px 20px 10px hsla(0, 0%, 0%, .08);
}

