.Header {
    height: 24px;
    padding: 16px;
    background-color: rgb(209, 213, 224);
    display: flex;
    align-items: center;
    gap: 16px;
}

.burgerMenu {
    cursor: pointer;
    display: flex;
    height: 17px;
    margin-left: 2px;
}

.webitelLogo {
    height: 16px;
    display: flex;
}