.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 100vh;
}

.buttons {
  font-family: Montserrat,monospace;
  background-color: rgb(251, 181, 4);
  border: 0;
  border-radius: 4px;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 24px;
  cursor: pointer;
  padding: 8px 16px;
  text-decoration: none;
  color: black;
  transition: 0.3s;
}

.wrapper {
  padding: 16px;
  min-width: 100vh;
  display: flex;
  flex-direction: column;
  gap: 16px;
  border-radius: 4px;
  height: 100vh;
}