.notFound {
    display: flex;
    min-height: 100vh;
    min-width: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    background-color: white;
}

.notFound > img {
    max-height: 361.5px;
    max-width: 778px;
}

.notFound > h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.5em;
    margin-top: 76px;
    
}

.notFound > p {
    margin-top: 4px;
    font-size: 14px;
}

.btn {
    margin-top: 26px;
}

.btn:hover {
    transition: 0.3s;
    background: hsla( 43 , 90% , 65% , 1);
}